.login {
  width: 500px;
  margin: 0 auto;
  margin-top: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 20px;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.3);
}
.form {
  width: 80%;
  margin: 0 auto;
}
.form h1 {
  margin-bottom: 10px;
}
.form input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
}
.form .form_footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.form .form_footer button {
  width: 50%;
  height: 35px;
  cursor: pointer;
}
.header {
  padding-top: 20px;
}
.header_nav {
  display: flex;
  justify-content: space-around;
}
.header_nav .link {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}
.header_nav .active {
  border-bottom: 1px solid #000;
}
.expenses {
  margin-top: 100px;
}
.expenses_content {
  background: #797979;
  max-width: 70%;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
}
.expenses_content .expenses_content_header {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 16px;
}
.expenses_content .expenses_content_body .expenses_content_body_item {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #d9d9d9;
  margin-top: 20px;
  border-radius: 10px;
}
.expenses_content .expenses_content_body .expenses_content_body_item .expenses_content_body_item_right {
  display: flex;
}
.expenses_content .expenses_content_body .expenses_content_body_item .expenses_content_body_item_right .expenses_content_body_item_delete {
  margin-left: 30px;
  cursor: pointer;
}
.expenses_content .expenses_content_body .expenses_content_body_item .expenses_content_body_item_right .expenses_content_body_item_delete img {
  width: 20px;
}
.expenses_content .expenses_content_footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
.expenses_content .expenses_content_footer button {
  color: #fff;
  border: none;
  background: none;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.purpos_button button {
  background: none;
  padding: 15px 50px;
  border: 2px solid #000;
  border-radius: 10px;
  cursor: pointer;
}
.delete {
  width: 25px;
  cursor: pointer;
}
.modal_expenses {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}
.modal_expenses_content {
  position: relative;
  width: 50%;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 200px;
  padding: 20px;
  background: #fff;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.5);
}
.modal_expenses_content_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal_expenses_content_close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.modal_expenses_content_close img {
  width: 25px;
}
.info {
  margin-top: 60px;
  background: #797979;
  color: #fff;
  max-width: 70%;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 50px;
}
.info_box {
  border-bottom: 1px solid #fff;
  padding: 10px 0;
}
.titele_info {
  font-size: 24px;
}
.info_content_box {
  background: #d9d9d9;
  color: #000;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
